.AllDemo{
  height: 76vh;

}


.Demo4 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 100px;

}

.Heading {
  text-align: center;
  font-size: 30px;
  margin: 50px;
  font-weight: 100;
}

.Description {
  width: 50%;
  padding: 20px;
  border-right: 1px dotted #888785;
  min-height: 300px;
}

.Description p {
  font-weight: 300;
  font-size: 1.5em;
  padding: 0;
  margin: 0;
  text-align: right;
  line-height: 1.5;
  color: #888785;
}



.menu {
  position: relative;
  width: 50%;
  min-height: 300px;
  padding: 0 40px;

}

@media(max-width:750px) {
  .Demo4 {
    flex-direction: column;
    margin:0;
  }

   .Heading{
    margin: 0;
  }
  .Description {
    border: none;
    width: 90%;
    font-size: 14px;
    padding: 50px 10px;
    min-height: 0;
  }


  .Description p{
    text-align: center;
    padding:0;
  }
  .menu{
    padding: 0;
    width: 70%;
  }
}

@media(max-height:700px){
  .AllDemo{
    height: 100%;
  }
}