.MenuItems {
  background-color: #9f3147;
  width: 300px;
  margin-top: 5px;
  position: absolute;
}

.ShowMenuItems {
  transition: 0.5s;
  transform: translateY(0px);
  opacity: 1;
  cursor: pointer;
}

.HideMenuItems {
  transform: translateY(20px);
  opacity: 0;
  transition: 0.5s;
  cursor: default;
}


.backButton {
  font-weight: 100;
  color: white;
}

.BackArrow {
  transform: scale(2.5, 2);
  color: rgba(212, 204, 198, 0.3);
  position: relative;
  right: 6px;
  top: 2px;
}

.Back {
  display: flex;
  padding: 15px 20px;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.Back:hover {
  background-color: rgba(255, 248, 213, 0.1);
}


