.Demo3 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

}

.Description {
  width: 50%;
  padding: 20px;
  border-right: 1px dotted #888785;
  min-height: 400px;
}

.Description p {
  font-weight: 300;
  font-size: 2em;
  padding: 0;
  margin: 0;
  text-align: right;
  line-height: 1.5;
  color: #888785;
}



.menu {
  position: relative;
  width: 50%;
  min-height: 400px;

  padding: 0 40px;

}