.SideDrawer {
  position: fixed;
  width: 60%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1100;
  background-color: white;
  transition: transform 0.7s;
  overflow: auto;
  display: flex;
  flex-direction: column;
}


.SideDrawer img {
  width: 53px;
  height: 47px;
  cursor: pointer;
  align-self: center;
  padding:10px;
  left:30%;
}


.DemoButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
  padding: 10px 0px;
  overflow: auto;
}


.DemoButtons a {
  display: inline-block;
  margin: 0.5em;
  color: #b1aea6;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  font-size: 15px;
  text-decoration: none;
  font-size: 17px;
}



.DemoButtons a:active,
.DemoButtons a:hover,
.DemoButtons a.active {
  color: #595958;
}