
.SideDrawer{
  position: fixed;
  width:60%;
  height: 100%;
  top:0;
  left:0;
  z-index: 1100;
  background-color: white;
  transition: transform 0.7s;
  overflow: auto;
}


.SideDrawer img {
  width: 70px;
  height: 70px;
  cursor: pointer;
  padding-bottom: 10px;
  position: relative;
  left:30%;
}


.DemoButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80%;
  flex-wrap: wrap;
  padding: 10px 0px;
  overflow: auto;
}


.DemoButtons a {
  display: inline-block;
  margin: 0.5em;
  text-align: center;
  color: #b1aea6;
  font-weight: 700;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 15px;
  text-decoration: none;
  font-size: 16px;
}



.DemoButtons a:active,
.DemoButtons a:hover,
.DemoButtons a.active {
  color: #595958;
}
